@model DataBase


<div class="container">
    <h1>Add @nameof(DataBase)</h1>
    <form asp-controller="DataBases" asp-action="Add" method="post">
        <div class="mb-3">
            <label class="form-label" asp-for="Name">@nameof(DataBase) Name</label>
            <input class="form-control" type="text" asp-for="Name" value="@Model.Name" required />
        </div>
        <div>
            <input type="hidden" asp-for="ProjectID" value="@Model.ProjectID" />
        </div>
        <div>
            <button type="submit" class="btn btn-success">Save</button>
            <a asp-controller="Projects" asp-action="Details" asp-route-id="@Model.ProjectID" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>
